<div class="modal" id="editTutorialModal" >
  <div class="modal-content">
    <span class="close" (click)="onCloseForm()">&times;</span>
    <h2> {{ isEdit ? 'Edit ':'add '}}Tutorial</h2>
    <form [formGroup]="tutorialForm" (ngSubmit)="OnFormSubmitted()">
      <div class="form-group">
        <label for="editTitle">Title:</label>
        <input type="text" id="editTitle"  class="form-control" formControlName="title">
        <div *ngIf="tutorialForm.get('title')?.hasError('required') && (tutorialForm.get('title')?.touched || tutorialForm.get('title')?.dirty)">
          Title is required.
        </div>
        <div *ngIf="tutorialForm.get('title')?.hasError('minlength') && (tutorialForm.get('title')?.touched || tutorialForm.get('title')?.dirty)">
          Title must be at least 3 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="editDescription">Description:</label>
        <input type="text" id="editDescription" class="form-control" formControlName="description">
        <div *ngIf="tutorialForm.get('description')?.hasError('required') && (tutorialForm.get('description')?.touched || tutorialForm.get('description')?.dirty)">
          Description is required.
        </div>
        <div *ngIf="tutorialForm.get('description')?.hasError('minlength') && (tutorialForm.get('description')?.touched || tutorialForm.get('description')?.dirty)">
          Description must be at least 10 characters long.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

